@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Belleza", sans-serif;
  line-height: 1.5;
}

body {
  background-color: #992915;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: "Allura", cursive;
}

.image-gallery-thumbnail-image {
  max-height: 56.25px;
}

@media screen and (min-width: 600px) {
  .image-gallery-thumbnail-image {
    max-height: 69px;
  }
}
